body{
    margin: 0;
    padding: 0;
    background: #e84118;
}
.search-box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform:translate(-50%,-50%);
    background: #2f3640;
    height: 40px;
    border-radius:40px;
    padding: 10px;
}

.search-box:hover > .search-txt{
    width: 240px;
    padding: 0 6px;
}

.search-box:hover > .search-btn{
    background:white;
}

.search-btn{
    color: #e84118; 
    float: right;
    width:40px;
    height:40px;
    border-radius:50%;
    background: #2f3640;
    display:flex;
    justify-content: center;
    align-items: center;
}


.search-txt{
    border: none;
    background: none;
    outline: none;
    float: left;
    padding: 0px;
    color: white;
    font-size:16px;
    transition: 0.4s;
    line-height:40px;
    width:0px;
}

.table1
{
    text-align: center;
    color:#EE5A24;
    position:relative;
    top:550px;
    background-color: #2f3640;
    border:4px solid 2f3640;
    border-radius: 45px;
    font-weight: 1000;
    margin-left:auto;
    margin-right: auto;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

th{
    padding-right: 40px;
    padding-left:40px;
    padding-top: 15px;
    padding-bottom: 15px;
    color:#EE5A24
}
td{
    color:#EE5A24
    padding-right: 10px;
    padding-left:10px;
    padding-top: 5px;
    padding-bottom: 5px;
}
